/* Font definitions
====================== */
@font-face {
	font-family: 'Futura';
	src: url('./fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
		url('./fonts/Futura-CondensedExtraBold.woff') format('woff'), url('./fonts/Futura-CondensedExtraBold.otf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura';
	src: url('./fonts/Futura-CondensedBoldOblique.otf');
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}

/* Global styles
====================== */
* {
	box-sizing: border-box;
}
.hide {
	display: none;
}
body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 8rem;
	font-family: 'Futura';
	text-transform: uppercase;
}
@media screen and (min-width: 379px) {
	body {
		padding-bottom: 7rem;
	}
}
@media screen and (min-width: 524px) {
	body {
		padding-bottom: 6rem;
	}
}
@media screen and (min-width: 1012px) {
	body {
		padding-bottom: 4.5rem;
	}
}
/* Header
====================== */
.site_header {
	background: black;
	display: flex;
	align-items: center;
	padding: 1rem;
}
.logo {
	height: 1.75rem;
	margin-right: 1rem;
}
.site_title {
	color: white;
	font-weight: 800;
	font-size: 1.25rem;
	margin: 0;
}

/* Start Screen
====================== */
.start_screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 0.5);
	padding: 5%;
	z-index: 1;
}
.start_screen form {
	height: auto;
	max-height: 85%;
	width: 100%;
	background: lightblue;
	margin: 0;
	padding: 1rem 0.5rem 2rem;
	overflow-y: auto;
	max-width: 30rem;
	margin: auto;
}
.start_screen label,
.start_screen output {
	font-style: oblique;
	font-weight: bold;
}
.start_screen fieldset {
	border: none;
}
.start_screen legend {
	font-weight: 800;
	font-size: 1.5rem;
}
.start_screen legend::first-letter {
	font-size: 2rem;
}
.start_screen .fieldset {
	margin: 0.5rem 0;
}
.start_screen .fieldset label {
	background-color: #7c4266;
	color: white;
	aspect-ratio: 1;
	width: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.start_screen .fieldset input {
	display: none;
}
.start_screen .fieldset input:checked + label {
	transform: scale(1.2);
	background-color: #d664aa;
}
.start_screen .fieldset label > span {
	margin-top: 2.5px;
	margin-right: 1px;
}
.start_screen input[type='text'] {
	width: 100%;
	font-size: 1rem;
	padding: 0.25rem;
}
.start_screen .game_version_field_group {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid lightblue;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}
.start_screen .game_version_field_group:focus-within {
	border-color: rgb(2, 72, 221);
}

.start_screen .game_version_field {
	padding: 0.25rem;
	border-radius: 0.75rem;
	border: 2px solid lightblue;
	position: relative;
}
.start_screen .game_version_field input {
	position: absolute;
	top: 50%;
	z-index: -1;
}
.start_screen .game_version_old_field.selected {
	background: #ffffff;
	border-color: #ffffff;
}
.start_screen .game_version_new_field.selected {
	background: #bc4177;
	border-color: #bc4177;
}
.start_screen .game_version_new_field.selected .label_text {
	color: #fff;
}
.start_screen .game_version_field_group legend {
	flex: 1 0 100%;
}
.start_screen .game_version_field img {
	width: 6.5rem;
	height: auto;
	border-radius: 0.5rem;
	margin: auto;
	display: block;
}

.start_screen .start_button {
	margin: auto;
	display: block;
	font-family: 'Futura';
	font-style: oblique;
	font-weight: bold;
	font-size: 1.5rem;
	background: #7c4266;
	border: none;
	color: white;
	padding: 0.5rem;
	letter-spacing: 1px;
}

/* Notes table 
====================== */
.notes_table {
	width: 90%;
	margin: auto;
	max-width: 30rem;
}
.notes_table .player_heading {
	position: sticky;
	top: 0;
	background: white;
}
.notes_table .player_heading:not(.player_heading_label) span {
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 100% 100%;
	bottom: 0.5rem;
	right: 80%;
	white-space: nowrap;
	display: block;
}
.notes_table td {
	border: 1px solid black;
}
.notes_table th {
	font-style: oblique;
	font-weight: bold;
}
.notes_table th.divider {
	background: black;
	color: white;
}
.notes_table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.change_icon {
	width: 2rem;
	height: 2rem;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
}

/* Footer
====================== */
.legal_footnote {
	width: 100%;
	text-align: center;
	padding: 1rem;
	margin: 0;
	background: black;
	color: white;
	position: absolute;
	bottom: 0;
	font-style: oblique;
	font-weight: bold;
}

/* No JS styles 
====================== */
.nojs .start_screen,
.nojs .notes_table {
	display: none;
}

.js_required_banner {
	background: lightblue;
	padding: 1rem;
	text-align: center;
}
