/* Font definitions
====================== */
@font-face {
	font-family: 'Futura';
	src: url('./fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
		url('./fonts/Futura-CondensedExtraBold.woff') format('woff'), url('./fonts/Futura-CondensedExtraBold.otf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura';
	src: url('./fonts/Futura-CondensedBoldOblique.otf');
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}

/* Global styles
====================== */
* {
	box-sizing: border-box;
}
.hide {
	display: none;
}
body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 8rem;
	font-family: 'Futura';
	text-transform: uppercase;
}
@media screen and (min-width: 379px) {
	body {
		padding-bottom: 7rem;
	}
}
@media screen and (min-width: 524px) {
	body {
		padding-bottom: 6rem;
	}
}
@media screen and (min-width: 1012px) {
	body {
		padding-bottom: 4.5rem;
	}
}
/* Header
====================== */
.site_header {
	background: black;
	display: flex;
	align-items: center;
	padding: 1rem;
}
.logo {
	height: 1.75rem;
	margin-right: 1rem;
}
.site_title {
	color: white;
	font-weight: 800;
	font-size: 1.25rem;
	margin: 0;
}

/* Start Screen
====================== */
.start_screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 0.5);
	padding: 5%;
	z-index: 1;
}
.start_screen form {
	height: 100%;
	width: 100%;
	background: lightblue;
	margin: 0;
	padding: 1rem 0.5rem;
}
.start_screen label,
.start_screen output {
	font-style: oblique;
	font-weight: bold;
}
.start_screen fieldset {
	border: none;
}
.start_screen legend {
	font-weight: 800;
	font-size: 1.5rem;
}
.start_screen legend::first-letter {
	font-size: 2rem;
}

/* Notes table 
====================== */
.notes_table td {
	border: 1px solid black;
}
.notes_table th {
	font-style: oblique;
	font-weight: bold;
}

.change_icon {
	width: 2rem;
	height: 2rem;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
}

/* Footer
====================== */
.legal_footnote {
	width: 100%;
	text-align: center;
	padding: 1rem;
	margin: 0;
	background: black;
	color: white;
	position: absolute;
	bottom: 0;
	font-style: oblique;
	font-weight: bold;
}

/* No JS styles 
====================== */
.nojs .start_screen,
.nojs .notes_table {
	display: none;
}

.js_required_banner {
	background: lightblue;
	padding: 1rem;
	text-align: center;
}
